{% extends 'base.html.twig' %}

{% block title %} About {% endblock %}

{% block body %}
    <header><h2>{{ about }}</h2></header>
    <div class="wrapper">
        <div class="content">
            <p>Это текст обо мне. Я еще не успел изучить <i>html</i>,<br>
                Это мой первый опыт создания интернет-страницы,<br>
                Веб-разработка для меня новая сфера деятельности,<br></p>
            <a href="https://vk.com/id242486420"> <img
                        src="https://sun9-23.userapi.com/impf/yzLSwccXPdOz2v7whWHwX2fhGWFGRSex7ZE2uA/aXUMYK7fH8w.jpg?size=1280x1024&quality=96&sign=213fc0918c159788be73e91f0e96eb28&type=album" title='Профиль в ВК' alt=' Профиль в ВК' width='340' height='240' alt =''></a>

            <p><a href="https://vk.com/id242486420">ВК</a></p>
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}