{% extends 'base.html.twig' %}


{% block title %} Main Page {% endblock %}


{% block body %}
    <div class="wrapper">
        <div class="header"><p><a href="/pages/first">Страница обо мне</a></p></div>
        <div class="content">
            <p>Информация обо мне находится по ссылке в заголовке</br></p>
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}