.page 
{
    font-family: Arial, Verdana,  sans-serif; /* Шрифт */
    font-size: 10pt; /* Размер шрифта в body  */
    background-color: #ffffff; /* Фон веб-страницы */
    color: #2d2c2c; /* Цвет текста */
}

.container
{
    max-width: 1000px;
    margin: 100px 400px;
}

.title 
{
    color: #011c39; /* Цвет заголовока */
    font-size: 24pt; /* Размер шрифта измеряемый в пунктах */
    font-weight: normal; /* Нормальное начертание текста  */
    font-family: 'Open Sans', sans-serif;
}
.subtitle 
{
    color: #01142d; /* Цвет заголовока */
    font-size: 16pt; /* Размер шрифта измеряемый в пунктах */
    font-family: 'Open Sans'; /* Семейство шрифтов */
    font-weight: normal; /* Нормальное начертание текста  */
    margin: 0 auto 20px;
}

.main-text 
{
    text-align: justify; /* Выравнивание по ширине */
    margin-left: 10px; /* Отступ слева в пикселах */
    margin-right: 50px; /* Отступ справа в пикселах */
    padding-left: 0px; /* Отступ от линии слева до текста  */
}

.list-items
{
    padding: 0px;
    margin-left: 100px; /* Отступ слева */
}

.list-items__item
{
    margin: 0;
    padding: 0;
    list-style-position: inside;
    text-indent: 2em;
}

.numerical-list
{
    margin: 0;
    padding: 0;
    list-style-position: inside;
    text-indent: 2em;
}

.contacts__logo::after
{
    content: " ";
}

.contacts__logo
{
    width: 15px;
    height: 15px;
}

.photo
{
    width: 135px;
    height: 180px;
    border-radius: 3px 3px;
    box-shadow: 0 2px 10px rgba(0,0,0.1,0.3);
    float: left;
    margin-right: 30px;
}



