body {
    font-family: Arial, Verdana,  sans-serif; /* Шрифт */
    font-size: 10pt; /* Размер шрифта в body  */
    background-color: #ffffff; /* Фон веб-страницы */
    color: #2d2c2c; /* Цвет текста */
}
h1 {
    color: #01142d; /* Цвет заголовока */
    font-size: 24pt; /* Размер шрифта измеряемый в пунктах */
    font-family: Georgia, Times, serif; /* Семейство шрифтов */
    font-weight: normal; /* Нормальное начертание текста  */
}
h2 {
    color: #01142d; /* Цвет заголовока */
    font-size: 16pt; /* Размер шрифта измеряемый в пунктах */
    font-family: Georgia, Times, serif; /* Семейство шрифтов */
    font-weight: normal; /* Нормальное начертание текста  */
}
ul {
    padding: 0px;
    margin-left: 100px; /* Отступ слева */
}
p {
    text-align: justify; /* Выравнивание по ширине */
    margin-left: 10px; /* Отступ слева в пикселах */
    margin-right: 50px; /* Отступ справа в пикселах */
    padding-left: 0px; /* Отступ от линии слева до текста  */
    padding-bottom: 10px; /* Отступ от линии снизу до текста  */
}
li {
    margin: 0;
    padding: 0;
    list-style-position: inside;
    text-indent: 2em;
    overflow: hidden;
}


