<!DOCTYPE HTML>
<html lang="ru">
<head>
    <title>Страница обо мне</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/style.css" >
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Play&display=swap" rel="stylesheet">
</head>
<body class="page">
    <div class="container">
        <div class="card-with-me">
            <div class="card-with-me__photo">
                <img class="card-with-me__photo-img" src="/images/photo.jpg"  alt="Me" />
            </div>                
            <div class="card-with-me__text">
                <div class="texts">
                    <h1 class="card-with-me__title">{{ about }}</h1>
                    <p class="main-text">
                        Web-разработка для меня новая область изучения. До этого я не занимался
                        версткой сайтов и <i class="italic-text">html, css, php</i>, к сожалению, ранее также не изучал.
                        Тем не менее, web-разработка для меня интересна, потому что она помогает понять
                        то, как устроены сайты, с которыми каждый день взаимодействует большое количество
                        людей.
                    </p>
                    
                    <div class="lists-about-me">
                        <div class="additional-info">
                            <p class="submain-text">
                                Также нравится астрономия, космонавтика; в школе принимал участие
                                в олимпиадах по астрономии. В настоящее время изучаю:
                            </p>
                            <div class="card_with-me__subjects-list">
                                <h2 class="subjects-list__title"></h2>
                                <ul class="subjects-list__items">
                                    <li class="list__item">Основы программирования</li>
                                    <li class="list__item">Ассемблер</li>
                                    <li class="list__item">Скриптовый язык <i class="italic-text">PHP</i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card_with-me__contacts-list">
                            <div class="contacts-list__title">Мои контакты</div>
                            <ul class="contacts-list__items">
                                <li class="list__item">
                                    <a class="contacts__link" href=https://vk.com/id242486420>
                                        <img class="contacts__logo" src="/images/logoVK.png" alt="">VK
                                    </a>
                                </li>
                                <li class="list__item">
                                    <a class="contacts__link" href="https://github.com/pklgn/web-practice">
                                        <img class="contacts__logo" src="/images/logoGitHub.png" alt="">GitHub
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="subtitle">Мои любимые темы</h2>
        <div class="gallery-list-wrapper">
            {% for title in titles %}
                <div class="gallery-column">
                    <div class="gallery-title">{{ title }}</div>
                        <ul class="list list_first">
                            {% for image in imagesLists[title] %}
                                <li><img src="{{ image }}" /></li>
                            {% endfor %}
                        </ul>
                </div>
            {% endfor %}
        </div>
    </div>

</body>
</html>