<!DOCTYPE HTML>
<html lang="ru">
<head>
    <title>Страница обо мне</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../../public/css/style.css" />
</head>
<body class="page">
    <div class="container">
        <div class="info">
            <h1 class="title">{{ about }}</h1>
            <p class="main-text">
                <img class="photo" src="../../public/images/photo.jpg" width="135" height="180" alt="Me" />
                Web-разработка для меня новая область изучения. До этого я не занимался
                версткой сайтов и <i class="italic-text">html, css, php</i>, к сожалению, ранее также не изучал.
                Тем не менее, web-разработка для меня интересна, потому что она помогает понять
                то, как устроены сайты, с которыми каждый день взаимодействует большое количество
                людей.
            </p>
            <p class="main-text">
                Также нравится астрономия, космонавтика; в школе принимал участие
                в олимпиадах по астрономии. В настоящее время изучаю:
            </p>
            <div class="list">
                <div class="title"></div>
                <ul class="list-items">
                    <li class="list-items__item">Основы программирования</li>
                    <li class="list-items__item">Ассемблер</li>
                    <li class="list-items__item">Скриптовый язык <i class="italic-text">PHP</i></li>
                </ul>
            </div>
            <div class="contacts"></div>
                <h2 class="subtitle">Мои контакты</h2>
                <ol class="numerical-list">
                    <li class="numerical-list__item">
                        <a class="contacts__link" href=https://vk.com/id242486420">
                            <img class="contacts__logo" src="../../public/images/logoVK.png" alt="">VK
                        </a>
                    </li>
                    <li class="numerical-list__item">
                        <a class="contacts__link" href="https://github.com/pklgn/web-practice">
                            <img class="contacts__logo" src="../../public/images/logoGitHub.png" width="15" height="15" alt="">GitHub
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </div>

</body>
</html>