<!DOCTYPE HTML>
<html lang="ru">
<head>
    <title>Страница обо мне</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <style>
        .leftimg {
            float:left; /* Выравнивание по левому краю */
            margin: 10px 10px 10px 0; /* Отступы вокруг картинки */
        }
    </style>
</head>
<body>
    <h1>{{ about }}</h1>
    <p><img src="/images/photo.jpg" width="135" height="180" class="leftimg">
        Web-разработка для меня новая область изучения. До этого я не занимался
        версткой сайтов и <i>html, css, php</i>, к сожалению, ранее также не изучал.
        Тем не менее, web-разработка для меня интересна, потому что она помогает понять
        то, как устроены сайты, с которыми каждый день взаимодействует большое количество
        людей.</br>
    <p>Также нравится астрономия, космонавтика; в школе принимал участие
        в олимпиадах по астрономии.</br> В настоящее время изучаю:
        </p>
    <ul>
        <li>Основы программирования</li>
        <li>Ассемблер</li>
        <li>Скриптовый язык <i>PHP</i></li>
    </ul>
    </p>
    <h2>Мои контакты</h2>
    <ol>
        <li><a href="https://vk.com/id242486420"> <img src="/images/logoVK.png" width="15" height="15"> VK</a></li>
        <li><a href="https://github.com/pklgn/web-practice"> <img src="/images/logoGitHub.png" width="15" height="15"> GitHub</a></li>
    </ol>

</body>
</html>